name: Docker Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  docker-build:
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/reusable-docker-build.yml
    with:
      publish: ${{ github.event_name != 'pull_request' }}
    secrets: inherit
